{% extends 'Home/main.html' %}

{% block content %}

<!-- {%  include 'Home/status.html' %} -->

<br>

<div class="row">
	<div class="col">
		<h5>FTES:</h5>
		<hr>
		<div class="card card-body">
			<!-- <a class="btn btn-primary  btn-sm btn-block" href="{% url 'FTE_page' %}">ADD FTEs</a> -->
			<table class="table table-sm">
				<tr>
					<th>Project</th>
					<th>Activity</th>
					<th>Function</th>
					<th>Resource</th>
					<th>Active</th>
					{% for i in quarter_filter %}
						<th>{{i.quarter}}</th>
					{% endfor %}
				</tr>

				{% for i in labor_allocat_object %}
					<tr>
						<td>{{i.project_num.project}}</td>
						<td>{{i.activity}}</td>
						<td>{{i.resource_num.function.function_name}}</td>
						<td>{{i.resource_num.resource}}</td>
						<td>{{i.project_num.active}}</td>

					{% for x in amount_filter %}
						<td>{{x.amount}}</td>
					{% endfor %}
					</tr>


				{% endfor %}


					<!-- <td>{{resource_object.function_id.function_name}}</td> -->
			</table>
		</div>
	</div>

	<!-- <div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
		
			</table>
		</div>
	</div> -->

</div>

{% endblock %}
